* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.first-row, .second-row {
    height: 325px;
    margin: 20px;
}

/* load images */
.first-row .block-item:first-child {
    background-image: url('img/tastiera1.jpg');
}

.first-row .block-item:nth-child(2) {
    background-image: url('img/cuffia1.jpg');
}

.first-row .block-item:last-child {
    background-image: url('img/tablet1.jpg');
}

.second-row .block-item:first-child {
    background-image: url('img/tastiera2.png');
}

.second-row .block-item:nth-child(2) {
    background-image: url('img/cuffia2.jpg');
}

.second-row .block-item:last-child {
    background-image: url('img/tablet2.jpg');
}
/* ------------- */

.block-item {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

/* discount position and colors */
.block-item span:first-child {
    position: absolute;
    right: 0;
    border: 1px solid black;
}

span.big-discount {
    background-color: red;
}

span.little-discount {
    background-color: coral;
}
/* ------------------------------ */

/* pop-up heart */
span.heart {
    position: absolute;
    bottom: 0;
    right: 50%;
    display: none;
    color: red;
}

.block-item:hover span.heart {
    display: inline-block;
}
/* -------------- */


.block-item:hover {
    box-shadow: 10px 10px 5px grey;
}



